<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.flb.sample.fzw">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_MEDIA_STORAGE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.access_wifi_state" />
    <uses-permission android:name="android.permission.access_network_state" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.Camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".statusLayoutManager.StatusLayoutManagerActivity"
            android:theme="@style/StatusTheme" />
        <activity android:name=".securityCode.SecurityCodeActivity" />
        <activity android:name=".keyBoard.KeyBoardActivity" />
        <activity android:name=".zXing.ZXingActivity" />
        <activity android:name=".douyin.DouYinActivity" />
        <activity android:name=".dynamic.DynamicActivity" />
        <activity android:name=".file.FileActivity" />
        <activity android:name=".dynamic.DyVideoActivity" />
        <activity android:name=".alarm.AlarmClockActivity" />
        <activity android:name=".alarm.SetAlarmClickActivity" />

        <service android:name=".service.AlarmClockService" />
        <service android:name=".service.FileDownService" />

        <activity
            android:name=".alarm.ClockRemindActivity"
            android:theme="@style/dialog_style" />

        <receiver android:name=".roadcastReceiver.NetworkConnectChangedReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name=".imageprogress.ImageProgressActivity" />

        <meta-data
            android:name="com.flb.sample.fzw.imageprogress.replace.MyGlideModule"
            android:value="GlideModule" />

        <activity android:name=".bezierCurve.BezierCurveActivity" />
        <activity android:name=".suspend.SuspendActivity" />
        <activity android:name=".gallery.GalleryActivity" />
        <activity android:name=".cloudvideo.CloudVideoActivity" />
        <activity android:name=".cloudvideo.DownAndUpActivity" />
        <activity android:name=".cloudvideo.AVActivity" />
        <activity android:name=".cloudvideo.video.AVConversationActivity" />
        <activity android:name=".jND2B.JND2BActivity" />
        <activity android:name=".cloudvideo.SpinnerActivity"></activity>
    </application>

</manifest>